body {
  background-color: #fffafa;
}

div.holder {
  display: inline-block;
  /* width: 132px;
  height: 132px; */
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

div.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: transform 1s; 
  -moz-transition: transform 1s; 
  -o-transition: transform 1s; 
  transition: transform 1s; 
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}
div.card div {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
div.card .face {
  cursor: pointer;
}

div.card .face img {
  border-radius: 10px;
  border: solid black 1px;
}

div.card .back {
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  cursor: pointer;
}
div.card .back img {
  border-radius: 10px;
  background-color: white;
  border: solid black 1px;
}

div.card.flipped {
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

div.active {
  background-color: lightblue;
}

div#victory {
  display: none;
  padding: 400px 0px;
  font-size: 62pt;
  font-weight: bold;
  color: gold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 4px 4px black;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

span.preview {
  padding: 0 3px;
}
span.preview img {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: transparent solid 2px;
}
span.selected img {
  border-radius: 4px;
  border: gold solid 2px;
}

div.footer {
  text-align: center;
}

.btn-players {
  margin: 0 2px;
}

#players-label {
  vertical-align: middle;
}

@media(min-width: 320px) {
  div.holder {
    width: 44px;
    height: 44px;
    margin: 2px;
  }
  div.card .face img {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
  div.card .back img {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
  span.preview {
    padding: 0 1px;
  }
  span.preview img {
    width: 32px;
    height: 32px;
  }
  .btn-players {
    font-size: 8pt;
  }
  #players-label {
    display: none;
  }
}
@media(min-width: 576px) {
  div.holder {
    width: 64px;
    height: 64px;
    margin: 2px;
  }
  div.card .face img {
    width: 64px;
    height: 64px;
  }
  div.card .back img {
    width: 64px;
    height: 64px;
  }
  #players-label {
    display: unset;
  }
}
@media(min-width: 768px) {
  div.holder {
    width: 99px;
    height: 99px;
  }
  div.card .face img {
    width: 99px;
    height: 99px;
  }
  div.card .back img {
    width: 99px;
    height: 99px;
  }  
}
@media(min-width: 992px) {
  div.holder {
    width: 124px;
    height: 124px;
  }
  div.card .face img {
    width: 124px;
    height: 124px;
  }
  div.card .back img {
    width: 124px;
    height: 124px;
  }
}
@media(min-width: 1200px) {
  div.holder {
    width: 132px;
    height: 132px;
  }
  div.card .face img {
    width: 132px;
    height: 132px;
  }
  div.card .back img {
    width: 132px;
    height: 132px;
  }  
}

